<% content_for :style_sheet do %>
  <%= stylesheet_link_tag 'video_games' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Rating
      </th>
      <th>
        Title
      </th>
      <th>
        Upvote
      </th>
    </tr>
  </thead>
  <tbody>
    <% @video_games.each do |game| %>
    <tr>
      <td>
        <%= game.rating %>
      </td>
      <td>
        <%= link_to "#{game.title}", video_game_path(game.id) %>
      </td>
      <td>
        <%= button_to "Upvote", upvote_video_game_path(game.id), class: "btn" %>
      </td>
    </tr>
    <% end  %>
  </tbody>
</table>
</div>
<%= link_to "View All Games", welcomes_path, class: "btn" %>
<%= link_to "Add a Video Game", new_video_game_path, class: "btn" %>
