<h1> All Movies List</h1>
<h3> Click On A Movie Title For More Info </h3>
<table border="1">
  <tr>
    <th>
      Movie Title
    </th>

    <th>
    Cast Vote For Movie
    </th>

    <th>
      Overall Score
    </th>
  </tr>

    <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= link_to "#{movie.title}", "/movies/#{movie.id}", method: :get %>
      </td>

      <td>
        <span style="float:left; margin:5px">
          <%= button_to "   ðŸ‘+1   ", "/upvote/#{movie.id}", method: :patch %>
        </span>
        <span style="float:right; margin:5px">
          <%= button_to "   ðŸ‘Ž-1   ", "/downvote/#{movie.id}", method: :patch %>
        </span>
      </td>

      <td>
        <center>
          <%= movie.vote %>
        </center>
      </td>

      </tr>
  <% end %>
</table>
<br>

<%= link_to "Add new Movie", "/movies/new" %>
