<div class="container-fluid">
  <h1><%= link_to "All Movies List", "/movies"%></h1>
  <table class="table table-hover table-condensed">
    <tr>
      <th>
        Movie Title
      </th>

      <th>
        Cast Vote
      </th>

      <th>
        Overall Score
      </th>
    </tr>

    <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= link_to "#{movie.title}", "/movies/#{movie.id}", method: :get %>
      </td>

      <td>
        <span style="float:left; margin:5px">
          <%= button_to "   ðŸ‘+1   ", "movies/upvote/#{movie.id}", method: :patch %>
        </span>
        <span style="float:left; margin:5px">
          <%= button_to "   ðŸ‘Ž-1   ", "movies/downvote/#{movie.id}", method: :patch %>
        </span>
      </td>

      <td>
        <center>
          <%= movie.vote %>
        </center>
      </td>

    </tr>
    <% end %>
  </table>
  <br>
  <%= button_to "Add new Movie", "/movies/new", method: :get%>
</div>
