<table class="table table-hover">
  <tbody>
    <tr>
      <th>
        Ranking
      </th>
      <th>
        Name
      </th>
      <th>
        Upvote
      </th>
    </tr>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          Ranked: <%= movie.rank %>
        </td>
        <td>
          <%= link_to movie.name, movie_path(movie) %>
        </td>
        <td>
          <%= button_to "Upvote", upvote_movie_path(movie), class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "View All Media", root_path, class: "btn btn-default" %>
<%= link_to "Add a Movie", new_movie_path, class: "btn btn-default" %>
