<h1> All Movies List</h1>
<h3> Click On A Movie Title For Detailed Information </h3>
<table border ="1">
  <tr>
    <th>
      Movie Title
    </th>

    <th>
    Vote For Movie
    </th>

    <th> Total Votes
    </th>
  </tr>

    <% @movies.each do |movie| %>
    <tr>
      <td>
        <%= link_to "#{movie.title}", "/movies/#{movie.id}", method: :get %>
      </td>

      <td>
        <center>
          <%= button_to "Awesome!", "/upvote/#{movie.id}", method: :patch %>

          <%= button_to "Not Awesome!", "/downvote/#{movie.id}", method: :patch %>
        </center>
      </td>

      <td>
        <center>
          <%= movie.vote %>
        </center>
      </td>

      </tr>
  <% end %>
</table>
<br>

<%= link_to "Add new Movie", "/movies/new" %>
