<%= render partial: "media/header" %>

<table>
  <th>Ranking</th>
  <th>Name</th>
  <th>Upvote</th>
  <% @movies.each do |movie| %>
    <tr>
      <td>Ranked: <%= movie.ranking %></td>
      <td><%= link_to movie.name, medium_path(movie.id) %></td>
      <td><%= button_to 'Upvote', upvote_medium_path(movie.id) %></td>
    </tr>
  <% end %>
</table>

<td><%= button_to 'Add a Movie', new_medium_path(:movie), method: "get" %></td>
