<table>
  <tr>
    <th>Ranking<th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <th>Ranked: <%= movie.ranking %></th>
    <th><%= link_to "#{movie.name}", movie_path(movie.id) %></th>
    <th><%= button_to "Upvote", upvote_movie_path(movie.id), method: "patch" %></th>
  </tr>
  <% end %>
</table>

<%= button_to "View All Media", root_path, method: "get" %>
<%= button_to "Add a Movie", new_movie_path, method: "get" %>
