<table>
  <tbody>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
    <% @movies.each do |movie| %>
      <tr>
        <td> Ranked: <%= movie.ranking %> </td>
        <td> <%= link_to movie.name, movie_path(movie.id) %> </td>
        <td> <%= button_to "Upvote", movie_path(movie.id), method: "patch" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "View All Media", root_path, method: "get" %>
<%= button_to "Add a Movie", new_movie_path, method: "get" %>
