<%= render "shared/header" %>

<section>

  <h1><%= @movie.title %></h1>
  <h3>Directed by: <%= @movie.director %></h3>
  <h4>Ranked: <%= @movie.rank %></h4>
  <p><%= @movie.description %></p>
  <%= button_to "Upvote", movie_upvote_path(@movie.id), method: "patch" %>

</section>

<footer>
<%= button_to "Edit #{@movie.title}", edit_movie_path(@movie.id), method: "get" %>
<%= button_to "DELETE", "/movies/#{@movie.id}", method: "delete", data: { confirm: "Are you sure?" } %>
<%= button_to "View All Movies", movies_path, method: "get" %>
<%= button_to "View All Media", root_path, method: "get" %>

</footer>
