<h1> <%= @movie.name %> Directed by: <%= @movie.director %> </h1>

<h4>Ranked: <%= @movie.ranking %> </h4>

<p> <%= @movie.description %> </p>



<%= button_to "Upvote", movie_path(@movie.id), method: "patch" %>
<%= button_to "Edit #{@movie.name}", edit_movie_path, method: "get" %>
<%= button_to "Delete", movie_path(@movie.id), method: "delete", data: { confirm: "Are you sure you want to delete?" } %>

<%= button_to "View All Movies", movies_path, method: "get" %>
<%= button_to "View All Media", root_path, method: "get" %>
