<table border = "1">
  <tr>
    <th>
    Movie Title
    </th>
    <th>
    Director
    </th>
    <th>
    Description
    </th>
    <th>
    Votes
    </th>
    </tr>

  <tr>
    <td>
      <%= @movie.title %>
    </td>
    <td>
      <%= @movie.director %>
    </td>
    <td>
      <%= @movie.description %>
    </td>
    <td>
      <%=  %>
    </td>
    </tr>
</table>
  <%= button_to "Delete Movie" %>
<p>
<a href="/">Go Back to Home Page</a>
</p>
