<h1>Movie </h1>

<%= @movie.id %>
<%= @movie.director %>
<%= @movie.vote %>
<%= @movie.description %>


<%= button_to "Upvote", edit_movie_path, method: :patch %>

<%= button_to "Edit #{@movie.id}", edit_movie_path, method: :get %>

<%= button_to "Delete ", movie_path(movie), method: :delete, data: {confirm: "are you sure you want to delete this movie?"}  %>

<%= button_to "View All Movies", movie_index_path, {method: :get, params: {:market_id => @market.id}} %>

<%= button_to "View All Media", root_path, method: :get %>
    