<div class="container">
  <div class="row">
    <div class="col-md-12">
    
    <h1> <%= @movie.name %> <small> Directed by: <%= @movie.director %> </small> </h1>

    <h4> Ranked: <%= @movie.vote %> </h4>

    <p> <%= @movie.description %> </p>

    <br>
    <%= button_to "Upvote", yes_vote_movie_path(@movie.id), method: :patch, :class => "btn btn-primary" %>
    
    <div class="button_wrapper">
    <%= link_to "Edit #{@movie.name}", edit_movie_path(@movie.id), :class => " btn btn-default button_menu" %>
    <%= link_to "Delete", movie_path(@movie.id), method: :delete, data: {confirm: "are you sure you want to delete this movie?"}, :class =>  "btn btn-danger button_menu"%>
    <%= link_to "View All Movies", movies_path, :class => "btn btn-default button_menu" %>
    <%= link_to "View All Media", root_path, :class => "btn btn-default button_menu" %>
    </div>
    
    </div> 
  </div>
</div>  
