<%= render 'shared/header' %>

<h1><%= @movie.name %></h1>
<h2>Directed by: <%= @movie.director %></h2>
<h3>Ranked: <%= @movie.rank %></h3>
<h4><%= @movie.description %></h4>


<%= button_to "Upvote", upvote_movie_path(@movie) %>
<%= button_to "Edit #{@movie.name}", edit_movie_path, method: :get %>


