<h1>Movie </h1>
<ul>
<li> <%= @movie.name %> </li>
<li><%= @movie.director %> </li>
<li><%= @movie.vote %> </li>
<li><%= @movie.description %> </li>
</ul>
<br>
<%= button_to "Upvote", "/movies/update_vote", method: :patch %>
<br>
<%= button_to "Edit #{@movie.id}", edit_movie_path, method: :get %>
<br>
<%= button_to "Delete", movies_path, method: :delete, data: {confirm: "are you sure you want to delete this movie?"}  %>
<br>
<%= button_to "View All Movies", movies_path, method: :get %>
<br>
<%= button_to "View All Media", root_path, method: :get %>
    