<!-- TODO: format this page more!! -->

<h1><%= @movie.title %><small> Directed by: <%= @movie.directed_by %></small></h1>
<h4>Ranked: <%= @movie.votes %></h4>
<p><%= @movie.description %></p>

<%# TODO: FIX THE INTERPOLATION ISSUE!!! %>
<%= button_to "Upvote", movie_path(@movie), method: :put, params: { upvote: true }, class: "btn btn-primary" %>

<%= link_to "Edit #{@movie.title}", edit_movie_path(@movie), class: "btn btn-default" %>
<%= button_to "DELETE", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
<%= link_to "View All Movies", movies_path, class: "btn btn-default" %>
<%= link_to "View All Media", :root, class: "btn btn-default" %>
