
<h2> Top Movies </h2>
<% @movies.each do |movie| %>
  <p> <%= movie.name %> <p>
    <p> ranked <%= movie.rank %> </p>
<% end %>

<!-- <h2> Top Books </h2>
<% @books.each do |book| %>
  <%= book.name %>
    <p> ranked <%= book.rank %> </p>
<% end %>

<h2> Top Albums </h2>
<% @albums.each do |album| %>
  <%= album.name %>
    <p> ranked <%= album.rank %> </p>
<% end %> -->
