<h1>
  <%= @book.name %>
  <small> Written by: <%= @book.author %> </small>
</h1>
<h3> Ranked: <%= @book.rank %> </h3>
<p> <%= @book.description %> </p>
<%= button_to "Delete", { action: "destroy", id: @movie.id }, method: :delete, data: { confirm: "Are you sure?" } %>
