<h2> <%= medium.title %> </h2>

<h3>
  <% if medium.has_attribute?(:director) %>
      Directed by: <%= medium.director %>
  <% elsif medium.has_attribute?(:author) %>
      Written by: <%= medium.author %>
  <% elsif medium.has_attribute?(:artist) %>
      Artist: <%= medium.artist %>
  <% end %>
</h3>

<h3> Upvotes: <%= medium.ranking %> </h3>
<p>
  <%= medium.description %>
</p>

<!-- upvote button -->
<%= link_to "Edit", "./#{params[:id]}/edit" %>
<%= link_to "Delete", "", method: :delete, data: { confirm: "Are you sure you want to delete '#{medium.title}'?" } %>
<%= link_to "View All #{medium.class.name}s", "./" %>
<%= link_to "View All Media", media_path %>
