<%= form_for media do |f| %>
  <h2><%= form_name %></h2>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label creator %>
  <%= f.text_field creator %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Save" %>
<% end %>
