<h2><%= title %></h2>
<%= form_for media, html: {class: "form-group"}  do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class: "form-control", required: true, autofocus: true %>
  <%= f.label creator, creator_desc %>
  <%= f.text_field creator, class: "form-control" %>
  <%= f.label :desc, "Description" %>
  <%= f.text_area :desc, class: "form-control" %>
  <br>
  <%= f.submit "Save", class: "btn btn-default"%>
<% end %>
