<div class="row">
  <div class="col-lg-12">
    <h2><%= title %></h2>

    <%= form_for object, method: http_verb do |f| %>

      <fieldset>
        <div class="form-group">
          <% details.each do |detail| %>
              <%= f.label detail %>
              <%= f.text_field detail, class: "form-control" %>
          <% end %>
        </div>
      </fieldset>

      <%= f.submit "Save", class: "btn btn-default" %>

    <% end %>
  </div>
</div>
