<%= render 'shared/header' %>

<h2><%="#{action} #{object.class}" %></h2>

<%= form_for object, html: {class: "form"} do |f| %>
<!-- I tested not interpolating "creator" below. When it is not interpolated, it generates "Creator" on the form, instead of using the local variable defined in the view pages.  -->
  <% {name: :name, creator: "#{creator}", description: :description}.each do |key, value| %>
    <div class="form-group">
    <%= f.label value %>
    <%= f.text_field key, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit "Save", class: "btn btn-default" %>

<% end %>
