<%= render "shared/header" %>

<tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>

<table class="table table-hover">


    <% objects.each do |object|%>
    <tr>
      <td><%= object.rank %></td>
      <td><%= link_to object.name, "/#{object_path}/#{object.id}" %></td>
      <td><%= link_to "Upvote", "/#{object_path}/#{object.id}/upvote", class: "btn btn-default" %></td>
    </tr>
    <% end %>


</table>

<%= button_to "View All Media", root_path, method: :get %>
<%= button_to "Add an Album", "/#{object_path}/new", method: :get %>





