<table class="table table-hover">
  <thead>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </thead>
  <tbody>
  <% media.each do |m| %>
    <tr>
      <td>Ranked: <%= m.rank %></td>
      <td><%= link_to "#{m.name}", send(mediapath, m) %></td>
      <td><%= link_to "Upvote", send(upvote_path, m), method: :patch , class: "btn btn-default"%></td>
    </tr>
  <% end %>
  </tbody>
</table>


<%= link_to "View All Media", root_path, class: "btn btn-default" %>
<%= link_to "Add #{media_type}", newmedia_path , class: "btn btn-default" %>