<table class="table table-hover">
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <% objects.each do |object| %>
    <tr>
      <td>Ranked:<%= object.votes %></td>
      <td><%= link_to "#{object.title}", "/#{media}/#{object.id}" %></td>
      <td><%= button_to "Upvote", object, method: :put, class: "btn btn-default", params: { upvote: true }%></td>
    </tr>
  <% end %>
</table>

<%= link_to "View All Media", root_path, class: "btn btn-default" %>
<%= link_to "Add #{medium}", new_medium_path, class: "btn btn-default" %>
