<table class="table">

  <tr>
    <th> Ranking </th>
    <th> Name </th>
    <th> Upvote </th>
  </tr>

  <tr>
    <% @model.by_rank.each do |singular| %>
    <td> Ranked: <%= singular.rank %>
    <td> <%= link_to "#{singular.name}", "/#{controller}/#{singular.id}" %></td>
    <td> <%= button_to "Upvote", upvote_path(singular.id), class:"btn btn-primary" %> </td>
  </tr>
    <% end %>

</table>

<%= link_to "View All Media", root_path, class:"btn btn-default" %>
<%= link_to "Add a #{controller.capitalize}", "#{controller}/new", class:"btn btn-default", method: :get %>
