<% if object.class != Album || Book || Movie %>
  <table>
    <th><%= "Top #{object.name}s" %></th>
      <% object.each do |detail| %>
        <tr>
          <td><%= link_to "#{detail.name}", "#{object.name.downcase}s/#{detail.id}" %></td>
          <td><%= "Ranked as: #{detail.rank}" %></td>
        </tr>
      <th>
    <% end %>
</table>

<% else %>

<%= "#{object.class}s" %>
  <table>
    <td><%= link_to "#{object.name}", "#{object.name.downcase}s/#{object.id}" %></td>
    <td><%= "Ranked as: #{object.rank}" %></td>
  </table>
<% end %>

