<div class="row">
  <div class="col-sm-8">
  <table class="table table-hover">
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>

    <% @media.each do |media| %>
    <tr>
      <td> Ranked: <%= media.rank %> </td>
      <td> <%= link_to "#{media.name}", polymorphic_path(media) %></td>
      <td> <%= button_to "Upvote", polymorphic_path([media, :upvote]), method: "patch", class: "btn btn-default" %> </td>
    </tr>
    <% end %>
  </table>

  <%= link_to "View All Media", root_path, class: "btn btn-default" %>
  <%= link_to "Add #{media_name}", new_polymorphic_path(@medium.class), class: "btn btn-default" %>
  </div>
</div>
