<table>
  <tbody>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
    <% collection.each do |media| %>
      <tr>
        <td> Ranked: <%= media.ranking %> </td>
        <td> <%= link_to media.name, media_path.call(media) %> </td>
        <td> <%= button_to "Upvote", media_path.call(media), method: "patch" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= button_to "View All Media", root_path, method: "get" %>
<%= button_to "Add a #{media_name}", new_media_path.call, method: "get" %>
