<table>

  <tr>
    <th> Ranking </th>
    <th> Name </th>
    <th> Upvote </th>
  </tr>

  <tr>
    <% @all.each do |singular| %>
    <td> <%= singular.rank %>
    <%= link_to "#{singular.name}", "/#{@controller}/#{singular.id}" %></td>
    <td> <%= singular.name %> </td>
    <td> <%= button_to "Upvote",  "/#{@controller}/#{singular.id}" %> </td>
  </tr>
    <% end %>

</table>

<%= link_to "View All Media", root_path %>
<%= link_to "Add a #{@controller.capitalize}", "#{@controller}/new", method: :get %>
