<section>
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <h1><%= media.title %> <small><%= by %><%= artist %></small></h1>
      <h4>Ranked: <%= media.rank %></h4>
      <p><%= media.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-1">
      <%= button_to "Upvote", send(item_upvote_path, media), method: "patch", class: "btn btn-primary" %>
    </div>
  </div>
</section>
