<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <table class="table table-hover">
      <tr>
        <th>Ranking</th>
        <th>Name</th>
        <th>Upvote</th>
      </tr>

      <% media.each do |item| %>
        <tr>
          <td>Ranked: <%= item.rank %></td>
          <td><%= link_to "#{item.title}", polymorphic_path(item), method: "get" %></td>
          <td><%= button_to "Upvote", send(item_upvote_path, item), method: "patch", class: "btn btn-primary" %></td>
        </tr>
      <% end %>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div style="float:left; margin: 4px;">
      <%= button_to "View All Media", root_path, method: "get", class: "btn btn-default"  %>
    </div>
    <div style="float:left; margin: 4px;">
      <%= button_to "Add #{name}", new_path, method: "get", class: "btn btn-default"  %>
    </div>
  </div>
</div>
