<h1>
  <%= @movie.name %>
  <small> Directed by: <%= @movie.director %> </small>
</h1>
<h3> Ranked: <%= @movie.rank %> </h3>
<p> <%= @movie.description %> </p>
<%= button_to "Edit #{@movie.name}", "/movies/edit", :method => "get" %>
<%= button_to "Delete", movie_path, method: :delete %>
<%= button_to "Upvote", upvote_movies_path(@movie.rank), method: :post %>
