<%= form_for object, html: {class: "form"} do |f| %>

  <fieldset>
    <legend><%= "#{object.class} Details" %></legend>

    <div class="form-group">
      <%= f.label :name, "Name: " %>
      <%= f.text_field :name, class: "form-control", :required => true %>
    </div>

    <div class="form-group">
      <%= f.label person %>
      <%= f.text_field person, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Description: " %>
      <%= f.text_field :description, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :rank, "Rank: " %>
      <%= f.number_field :rank, class: "form-control" %>
    </div>
  </fieldset>

  <%= f.submit "Add #{object.class}", class: "btn btn-default" %>
<% end %>
