<h2><%= object.name %></h2>
<h3><%= by + object_person %></h3>

<p>Ranked: <%= object.rank %></p>
<p><%= object.description %></p>

<%= button_to "Upvote", upvote_route, method: "patch" %>

<%= link_to "Edit #{object.name}", edit_single_route, method: "get" %>

<%= link_to "DELETE", single_route, method: "delete", data: { confirm: "Are you sure?" } %>

<%= link_to "View All #{object_type}", multi_route, method: "get" %>

<%= link_to "View All Media", root_path, method: "get" %>
