<h1>
  <%= object.name %>
  <small>
    <%= by + object_person %>
  </small>
</h1>

<h4>Ranked: <%= object.rank %></h4>
<p><%= object.description %></p>

<%= button_to "Upvote", polymorphic_path(object, action: 'upvote'), method: "patch", class: "btn btn-primary" %>

<%= link_to "Edit #{object.name}", edit_polymorphic_path(object), class: "btn btn-default" %>

<%= link_to "DELETE", polymorphic_path(object), method: "delete", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>

<%= link_to "View All #{object.class}s", polymorphic_path(object.class), class: "btn btn-default" %>

<%= link_to "View All Media", root_path, class: "btn btn-default" %>
