
<h1> <%= @single.name %> </h1>
<h2> <%= @creator %>: <%= @single.creator %> </h2>
<p><strong> Ranked: <%= @single.rank %> </strong> </p>
<p> <%= @single.description %> </p>

<%= button_to "Upvote",  "/#{@controller}/#{@single.id}" %>


<div>
  <%= link_to "Edit #{@single.name}", "/#{@controller}/#{@single.id}/edit", method: :get %>
  <%= link_to "Delete", "/#{@controller}/#{@single.id}", method: "delete",
            data: {:confirm => "Are you sure?"} %>
  <%= link_to "View All #{@controller.capitalize}", "/#{@controller}" %>
  <%= link_to "View All Media", root_path %>
  make above inline
</div>
