
<h1> <%= @single.name %> </h1>
<h2> <%= created %>: <%= @single.creator %> </h2>
<p><strong> Ranked: <%= @single.rank %> </strong> </p>
<p> <%= @single.description %> </p>

<%= button_to "Upvote", "/#{controller}/#{singular.id}", class:"btn btn-primary" %>


<div>
  <%= link_to "Edit #{@single.name}", "/#{controller}/#{@single.id}/edit", class:"btn btn-default", method: :get %>
  <%= link_to "DELETE", "/#{controller}/#{@single.id}", class:"btn btn-danger", method: "delete",
            data: {:confirm => "Are you sure?"} %>
  <%= link_to "View All #{controller.capitalize}", "/#{controller}", class:"btn btn-default" %>
  <%= link_to "View All Media", root_path, class:"btn btn-default" %>
</div>
