<h1><%= media.name %></h1>
<h2> <%= media_creation_verb %> by: <%= creator %></h2>
<h4>Ranked: <%= media.rank %></h4>
<p><%= media.description %></p>

<!-- Upvote button -->
<!-- Edit button -->
<!-- Delete button -->
<%= link_to "View All #{media_name}", mediapath %>
<%= link_to "View All Media", root_path %>