<h1><%= medium.title %></h1>

<% if medium.class == Movie %>
  <h2>Directed by: <%= medium.director %></h2>
<% elsif medium.class == Book %>
  <h2>Written by: <%= medium.author %></h2>
<% elsif medium.class == Album %>
  <h2>Recorded by: <%= medium.artist %></h2>
<% end %>

<h3>Ranked: <%= medium.rank %></h3>
<p>
  <%= medium.description %>
</p>
