<% media = media.sort_by(&:rank).reverse %>

<% media.each do |medium| %>
  <% if medium.class == Movie %>
    <%= link_to "#{medium.title}", movie_path(id: medium.id) %>
  <% elsif medium.class == Book %>
    <%= link_to "#{medium.title}", book_path(id: medium.id) %>
  <% elsif medium.class == Album %>
    <%= link_to "#{medium.title}", album_path(id: medium.id) %>
  <% end %>
  <ul>
    <li>
      <% if medium.class == Movie %>
        <%= medium.director %>
      <% elsif medium.class == Book %>
        <%= medium.author %>
      <% elsif medium.class == Album %>
        <%= medium.artist %>
      <% end %>
    </li>
    <li><%= medium.description %></li>
    <li><%= medium.rank %></li>
  </ul>
<% end %>
