<h1>
  <%= object.name %>
  <small>
    <%= by + object_person %>
  </small>
</h1>

<h4>Ranked: <%= object.rank %></h4>
<p><%= object.description %></p>

<%= button_to "Upvote", upvote_route, class: "btn btn-primary", method: "patch" %>

<%= link_to "Edit #{object.name}", edit_single_route, class: "btn btn-default", method: "get" %>

<%= link_to "DELETE", single_route, method: "delete", class: "btn btn-danger", data: { confirm: "Are you sure?" } %>

<%= link_to "View All #{object_type}", multi_route, class: "btn btn-default", class: "btn btn-default", method: "get" %>

<%= link_to "View All Media", root_path, class: "btn btn-default", method: "get" %>
