<h1>
  <%= media.name %> <small><%= media_action %> by: <%= creator %></small>
</h1>
<h4>
  Votes: <%= media.vote %>
</h4>
<p><%= media.desc %></p>

<%= button_to "Upvote", upvote_path %>

<%= button_to "Edit #{media.name}", edit_media_path, method: :get %>
<%= button_to "Delete", media_path, method: :delete, data: { confirm: "Are you sure?" } %>
<%= button_to "View All #{media_type}", view_all, method: :get %>
<%= button_to "View All Media", root_path, method: :get %>