<h1><%= media.name%></h1>
<p><%= media.description %></p>
<p><%= media.send(creator(media).to_s) %></p>
<%= button_to "Delete #{media.name}", pick_delete_path(media), method: :delete %>
<%= button_to "Edit", pick_edit_path(params[:controller], media), method: :get %>
<%= button_to "Home", root_path, method: :get %>
<%= button_to "View all Movies", send(pick_index_path(media)), method: :get %>