
<h1> <%= @single.name %> </h1>
<h2> <%= @creator %>: <%= @single.creator %> </h2>
<p><strong> Ranked: <%= @single.rank %> </strong> </p>
<p> <%= @single.description %> </p>

<%= form_for @controller do |f| %>
  <%= f.hidden_field :rank, value: @single.rank += 1 %>
  <%= f.submit "Upvote" %>
<% end %>

<div>
  <%= button_to "Edit #{@single.name}", "/#{@controller}/" %>
  <%= button_to "Delete", "/controller/delete/#{@single.id}", method: "delete",
            data: {:confirm => "Are you sure?"} %>
  <%= button_to "View All #{@controller.capitalize}", "/" %>
  <%= button_to "View All Media", "/" %>
  make above inline
</div>
