<div class = "row">
  <div class = "column">
  <h1>Movies</h1>
    <% @movies.each do |movie| %>
    <h2><%= link_to "#{movie.name}", movie_path(movie.id) %></h2>
    <p>Number of votes: <%= movie.votes %></p>
  
  <% end %>
  <%= button_to "View more movies", movie_index_path, method: :get %>
  </div>

  <div class = "column">
    <h1>Books</h1>
      <% @books.each do |book| %>
      <h2><%= link_to "#{book.name}", book_path(book.id) %></h2>
      <p>Number of votes: <%= book.votes %></p>
    <% end %>
    <%= button_to "view more books", book_index_path, method: :get %>
  </div>

  <div class = "column">
    <h1>Albums</h1>
    <% @albums.each do |album| %>
      <h2><%= link_to "#{album.name}", album_path(album.id) %></h2>
      <p>Number of votes:<%= album.votes %></p>
    <% end %>
    <%= button_to "view more albums", album_index_path, method: :get %>
  </div>


</div>


