<h1>All Movies</h1>

<%= render partial: 'shared/home_list', locals: { media: @movies } %>
<%= link_to "View more movies", movies_path %>

<h1>All Books</h1>

<%= render partial: 'shared/home_list', locals: { media: @books } %>
<%= link_to "View more books", books_path %>

<h1>All Albums</h1>

<%= render partial: 'shared/home_list', locals: { media: @albums } %>
<%= link_to "View more albums", albums_path %>
