<% @media_types = ["Movies", "Books", "Albums"] %>

<table>
  <tr>
    <% @media_types.each do |medium| %>
      <th>
        <h3><%= medium %></h3>
      </th>
    <% end %>
  </tr>
  <tr>
    <% @media.each do |media| %>
      <td>
        <%= render partial: "shared/home_display", locals: { media: media } %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td>
      <%= link_to "View more movies", movies_path %>
    </td>
    <td>
      <%= link_to "View more books", books_path %>
    </td>
    <td>
      <%= link_to "View more albums", albums_path %>
    </td>
  </tr>
</table>
