<%= render "shared/header" %>

<table>
  <tr>
    <th>Top Movies</th>
  </tr>

  <% @movies.each do |movie| %>
  <tr><td><%= link_to movie.name, movie_path(movie) %> Ranked: <%= movie.rank %></td><tr>
  <% end %>

  <tr><td><%= link_to "View More Movies", movies_path %></td></tr>

  <tr>
  <th>Top Books</th>
  </tr>

  <% @books.each do |book| %>
  <tr><td><%= link_to book.name, book_path(book) %> Ranked: <%= book.rank %></td><tr>
  <% end %>

  <tr><td><%= link_to "View More Books", books_path %></td></tr>

  <tr>
  <th>Top Albums</th>
  </tr>

  <% @albums.each do |album| %>
  <tr><td><%= link_to album.name, album_path(album) %> Ranked: <%= album.rank %></td><tr>
  <% end %>

  <tr><td><%= link_to "View More Albums", albums_path %></td></tr>


</table>
