<h1>Top Movies</h1>

<% @top_movies.each do |movie| %>
  <h2><%= link_to movie.name, movie_path(movie.id) %> Ranked: <%= movie.ranking %> </h2>
<% end %>


<h1>Top Books</h1>

<% @top_books.each do |book| %>
  <h2><%= link_to book.name, book_path(book.id) %> Ranked: <%= book.ranking %> </h2>
<% end %>


<h1>Top Albums</h1>

<% @top_albums.each do |album| %>
  <h2><%= link_to album.name, album_path(album.id) %> Ranked: <%= album.ranking %> </h2>
<% end %>
