<% @media_types = ["Movies", "Books", "Albums"] %>

<table>
  <tr>
    <% @media_types.each do |medium| %>
      <th>
        <h3><%= medium %></h3>
      </th>
    <% end %>
  </tr>
  <tr>
    <td>
      <%= render "shared/home_display", media: @movies %>
    </td>
    <td>
      <%= render "shared/home_display", media: @books %>
    </td>
    <td>
      <%= render "shared/home_display", media: @albums %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "View more movies", movies_path %>
    </td>
    <td>
      <%= link_to "View more books", books_path %>
    </td>
    <td>
      <%= link_to "View more albums", albums_path %>
    </td>
  </tr>
</table>
