<div class="container">
  <div class= "col-lg-12">
  <div class="row">
    <div class="col-md-4">

      <h1>Top Movies</h1> 
         <% @movies.each do |movie| %>
          <h2> <%= link_to "#{movie.name}", movie_path(movie.id)  %> 
          <small> Ranked: <%= movie.vote %> </small> </h2>
        <%end %>
        <p><%= link_to "See All Movies", movies_path, method: :get %><p>
    </div>
    <div class="col-md-4">
      <h3>Top Books</h3>
         <% @books.each do |book| %>
          <h2> <%= link_to "#{book.name}", book_path(book.id)  %> 
          <small> Ranked: <%= book.vote %> </small> </h2>
        <%end %>
        <p><%= link_to "See All Books", books_path, method: :get %><p>
    </div>
    <div class="col-md-4">
      <h3>Top Albums</h3>
         <% @albums.each do |album| %>
          <h2> <%= link_to "#{album.name}", album_path(album.id)  %> 
          <small> Ranked: <%= album.vote %> </small> </h2>
        <%end %>
        <p><%= link_to "See All Albums", albums_path, method: :get %><p>
    </div>
  </div>
  </div>
</div>