
<h1> Top Movies </h1>

<ul>
  <% Movie.by_rank.collect do |movie| %>
   <li>
     <%= link_to "#{movie.name}", "/movies/#{movie.id}" %> Ranked: <%= movie.rank %>
     <% end %>
   </li>
   <li>
     <%= link_to "View More Movies", "/movies" %>
   </li>
</ul>

<h1> Top Books </h1>

<ul>
  <% Book.by_rank.collect do |book| %>
  <li>
    <%= link_to "#{book.name}", "/books/#{book.id}" %> Ranked: <%= book.rank %>
    <% end %>
  </li>
  <li>
    <%= link_to "View More Books", "/books" %>
  </li>
</ul>

<h1> Top Albums </h1>

<ul>
  <% Album.by_rank.collect do |album| %>
  <li>
    <%= link_to "#{album.name}", "/albums/#{album.id}" %> Ranked: <%= album.rank %>
    <% end %>
  </li>
  <li>
    <%= link_to "View More Albums", "/albums" %>
  </li>
</ul>
