<%= render 'shared/header' %>

<div class="row">
  <div class="col-xs-4 col-sm-4">
    <h1>Top Movies</h1>
    <% @movies.each do |movie| %>
      <h3><%= link_to "#{movie.title}", movie_path(movie.id), method: "get" %><small> Ranked: <%= movie.rank %></small></h3>
    <% end %>

    <%= link_to "View More Movies", movies_path %>
  </div>

  <div class="col-xs-4 col-sm-4">
    <h1>Top Books</h1>
    <% @books.each do |book| %>
      <h3><%= link_to "#{book.title}", book_path(book.id), method: "get" %><small> Ranked: <%= book.rank %></small></h3>
    <% end %>

    <%= link_to "View More Books", books_path %>
  </div>

  <div class="col-xs-4 col-sm-4">
    <h1>Top Albums</h1>
    <% @albums.each do |album| %>
      <h3><%= link_to "#{album.title}", album_path(album.id), method: "get" %><small> Ranked: <%= album.rank %></small></h3>
    <% end %>

    <%= link_to "View More Albums", albums_path %>
  </div>
</div>
