<h2>Top Movies</h2>
  <ul>
  <% @movies.each do |movie| %>
    <li><%= link_to "#{movie.name}", movie_path(movie.id) %> Ranked: <%= movie.rank %></li>
  <% end %>
  </ul>
  <%= link_to "View More Movies", movies_path %>


<h2>Top Books</h2>
  <ul>
  <% @books.each do |book| %>
    <li><%= link_to "#{book.name}", book_path(book.id) %> Ranked: <%= book.rank %></li>
  <% end %>
  </ul>
  <%= link_to "View More Books", books_path %>

<h2>Top Albums</h2>
  <ul>
  <% @albums.each do |album| %>
    <li><%= link_to "#{album.name}", album_path(album.id) %> Ranked: <%= album.rank %></li>
  <% end %>
  </ul>
  <%= link_to "View More Albums", albums_path %>
