<div class="row">
  <div class="col-md-4">
    <h1>Top Movies</h1>
      <% @movies.each do |movie| %>
        <h2>
          <%= link_to movie.title, movie_path(movie) %>
          <small>Ranked: <%= movie.votes %></small>
        </h2>
      <% end %>
    <%= link_to "View More Movies", movies_path %>
  </div>
  <div class="col-md-4">
    <h1>Top Books</h1>
      <% @books.each do |book| %>
        <h2>
          <%= link_to book.title, book_path(book) %>
          <small>Ranked: <%= book.votes %></small>
        </h2>
      <% end %>
    <%= link_to "View More Books", books_path %>
  </div>
  <div class="col-md-4">
    <h1>Top Albums</h1>
      <% @albums.each do |album| %>
        <h2>
          <%= link_to album.title, album_path(album) %>
          <small>Ranked: <%= album.votes %></small>
        </h2>
      <% end %>
    <%= link_to "View More Albums", albums_path %>
  </div>
</div>
