<table>
  <tbody>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td> Ranked: <%= book.ranking %> </td>
        <td> <%= link_to book.name, book_path(book) %> </td>
        <td> <%= button_to "Upvote", book_path(book), method: "patch" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "View All Media", root_path, method: "get" %>
<%= button_to "Add a Book", new_book_path, method: "get" %>
