<%= render "shared/header" %>

<table class="table table-hover">

<%= render 'shared/index_sub_header' %>

<%= render partial: "shared/index", collection: @books, as: :object, locals: { object_path: "books" } %>

</table>

<%= button_to "View All Media", root_path, method: :get %>
<%= button_to "Add a Book", new_book_path, method: :get %>
