<h1><%= @media.title %> <small>Author:<%= @media.author %></small></h1>
<h4>Ranked:<%= @media.ranking %></h4>
<h5><%= @media.description %></h5>
<div class="col-md-12">
<%= button_to "Vote", edit_book_path(@media.id), method: :patch, class: "btn btn-primary" %>
<%= link_to "Edit #{@media.title}", edit_book_path(@media.id), method: :get, class: "btn btn-default" %>
<%= link_to "Delete", book_path(@media.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
<%= link_to "View all Albums", books_path, method: :get, class: "btn btn-default" %>
<%= link_to "View all Media", root_path, method: :get, class: "btn btn-default" %>
</div>
