<%= form_for @album, class: "form" do |f| %>
  <div class="form-group">
    <%= f.label :title, "Name" %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :creator, "Artist" %>
    <%= f.text_field :creator, class: "form-control" %>

    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <%= f.submit "Save", class: "btn btn-default" %>
<% end %>
