<%= form_for @album do |f| %>
  <h2>Edit Album</h2>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :artist %>
  <%= f.text_field :artist %>

  <%= f.label :description %>s
  <%= f.text_area :description %>

  <%= f.submit "Save" %>
<% end %>
