<h2>Edit Album</h2>
<%= form_for @album, url: album_path, html: {class: "form-group"}, method: :patch do |f| %>

<%= f.label :name, "Name" %>
<%= f.text_field :name, class: "form-control" %>

<%= f.label :artist, "Artist" %>
<%= f.text_field :artist, class: "form-control" %>

<%= f.label :description, "Description" %>
<%= f.text_area :description, class: "form-control" %>

<%= f.submit 'Save', class: "btn btn-default" %>

<% end %>
