<table class="table table-hover">
  <thead>
    <tr>
      <th>Votes</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
  </thead>

  <tbody>
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.vote %></td>
      <td><%= link_to album.name, album_path(album.id) %></td>
      <td><%= button_to "Upvote", upvote_album_path(album.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= button_to "View All Media", root_path, method: :get %>
<%= button_to "Add an Album", new_album_path, method: :get %>
