<div class="col-lg-12">
  <table class="table table-hover" >
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Album Name</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
      <tr>
        <td>Ranked:<%= album.vote %></td>
        <td><%= link_to "#{album.name}", album_path(album.id) %></td>
        <td><%= button_to "Upvote", yes_vote_album_path(album.id), method: :patch, :class => "btn btn-default" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "View All Media", root_path, :class => "btn btn-default button_menu" %>
<%= link_to "Create a Album", new_album_path, :class => "btn btn-default button_menu" %>