<table>
  <th>Top Albums</th>
  <% @albums.each do |album| %>
    <tr>
      <td><%= link_to "#{album.name}", album_path(album.id) %></td>
      <td><%= album.artist %></td>
      <td><%= album.rank %></td>
      <td><%= album.description %><td>
    </tr>
  <% end %>
</table>

<%= link_to "View All Media", root_path %>
<%= link_to "Add an Album", new_album_path %>

