<h2>New Album</h2>
<%= form_for @album, html: {class: "form-group"} do |f| %>

    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :arist, "Artist" %>
    <%= f.text_field :artist, class: "form-control" %>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: "form-control" %>

    <%= f.submit 'Save', class: "btn btn-default" %>

<% end %>
