<h2><%= @album.title %><small> Recorded by: <%= @album.recorded_by %></small></h2>

<h4>Ranked: <%= @album.votes %></h4>

<p><%= @album.description %></p>

<%= button_to "Upvote", @albums, method: :put, params: { upvote: true }%>
