<%= render "shared/header" %>
<h1>
  <%= @album.name %>
  <small> Recorded by: <%= @album.artist %> </small>
</h1>
<h3> Ranked: <%= @album.rank %> </h3>
<p> <%= @album.description %> </p>

<p> <%= button_to "Upvote", upvote_album_path(@album.id), method: :patch %> </p>


<%= button_to "Edit #{@album.name}", { action: "edit", id: @album.id }, :method => "get" %>
<%= button_to "Delete", { action: "destroy", id: @album.id }, method: :delete, data: { confirm: "Are you sure?" } %>
<%= button_to "View All Albums", albums_path , method: :get %>
<%= button_to "View All Media", root_path, method: :get %>
