<h1> <%= @album.name %> </h1>
<h3> Recorded by: <%= @album.creator %> </h3>
<p> Ranked: <%= @album.rank %> </p>
<p> <%= @album.description %> </p>
<%= button_to "Upvote", album_upvote_path(@album.id), method: "patch" %>
<%= button_to "Edit #{@album.name}", edit_album_path(@album.id), method: "get" %>
<%= button_to "DELETE", album_path(@album.id), method: :delete, data: { confirm: "Are you sure?"} %>
<%= button_to "View All Albums", albums_path, method: "get" %>
<%= button_to "View All Media", root_path, method: "get" %>
