<h1> <%= @album.name %> Directed by: <%= @album.artist %> </h1>

<h4>Ranked: <%= @album.ranking %> </h4>

<p> <%= @album.description %> </p>



<%= button_to "Upvote", album_path(@album.id), method: "patch" %>
<%= button_to "Edit #{@album.name}", edit_album_path, method: "get" %>
<%= button_to "Delete", album_path(@album.id), method: "delete", data: { confirm: "Are you sure you want to delete?" } %>

<%= button_to "View All Albums", albums_path, method: "get" %>
<%= button_to "View All Media", root_path, method: "get" %>
