<h1><%= @album.name %> </h1>
<h2><%= "Recorded by: #{@album.artist}" %></h2>
<h4><%="Rank: #{@album.rank}" %></h4>
<p><%= @album.description %></p>

<%= link_to "Upvote Album", album_path(@album.id), method: "patch" %>
<%= link_to "Edit Album", edit_album_path(@album.id) %>
<%= link_to "Delete", album_path(@album.id), method: "delete" %>
<%= link_to "View All Albums", albums_path %>
<%= link_to "View All Media", root_path %>
