<h1><%= @media.title %> <small>Artist:<%= @media.author %></small></h1>
<h4>Ranked:<%= @media.ranking %></h4>
<h5><%= @media.description %></h5>
<div class="col-md-12">
<%= button_to "Vote", album_vote_path(@media.id), method: :get, class: "btn btn-primary" %>
<%= link_to "Edit #{@media.title}", edit_album_path(@media.id), method: :get, class: "btn btn-default" %>
<%= link_to "Delete", album_path(@media.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
<%= link_to "View all Albums", albums_path, method: :get, class: "btn btn-default" %>
<%= link_to "View all Media", root_path, method: :get, class: "btn btn-default" %>
</div>
