show.html.erb

<h1>Album </h1>
<ul>
<li> <%= @album.name %> </li>
<li><%= @album.artist %> </li>
<li><%= @album.vote %> </li>
<li><%= @album.description %> </li>
</ul>
<br>
<%= button_to "Upvote", "#{@album.id}/yes_vote", method: :patch %>
<br>
<%= button_to "Edit #{@album.name}", edit_album_path(@album.id), method: :get %>
<br>
<%= button_to "Delete", album_path(@album.id), method: :delete, data: {confirm: "are you sure you want to delete this album?"}  %>
<br>
<%= button_to "View All Albums", albums_path, method: :get %>
<br>
<%= button_to "View All Media", root_path, method: :get %>