<h1>All Story Games</h1>
<table>
  <thead>
    <tr>
      <th>
        Rating
      </th>
      <th>
        Title
      </th>
      <th>
        Upvote
      </th>
    </tr>
  </thead>
  <tbody>
    <% @story_games.each do |game| %>
    <tr>
      <td>
        <%= game.note_cards %>
      </td>
      <td>
        <%= link_to "#{game.title}", story_game_path(game.id)  %>
      </td>
      <td>
        <%= button_to "Upvote", upvote_story_game_path(game.id)  %>
      </td>
    </tr>
    <% end  %>
  </tbody>
</table>
<%= link_to "View All Games", welcomes_path %>
<%= link_to "Add a Story Game", new_story_game_path %>
