<% content_for :style_sheet do %>
  <%= stylesheet_link_tag 'story_games' %>
<% end %>

<h2><%= @story_game.title %></h2>
<h4>Created by: <%= @story_game.author %></h4>
<p>
  Ranked:  <%= @story_game.rating %> <%= button_to "Upvote", upvote_story_game_path(@story_game.id), class: "btn" %>
</p>

<p>
  <%= @story_game.description %>
</p>

<%= link_to "Edit", edit_story_game_path, class: "btn" %>
<%= link_to "Delete", story_game_path(@story_game.id), class: "btn", :method => :delete %>
<%= link_to "View all Story Games", story_games_path, class: "btn" %>
<%= link_to "View all Games", root_path, class: "btn" %>
