<ul>
  <% @medium.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
  <% end %>
</ul>

<%= form_for @medium do |f| %>
  <fieldset>
    <legend><%= legend_text + medium.capitalize %></legend>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, :required => true %>

    <%= f.label :contributor, contributor %>
    <%= f.text_field :contributor %>

    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>

    <%= f.hidden_field :media_type, :value => medium %>
  </fieldset>

  <%= f.submit "Save" %>

<% end %>
