<ol class="breadcrumb">
  <%= render partial: "all_media", locals: { active: false } %>
  <%= render partial: "category", locals: { active: true } %>
</ol>

<div class="col-sm-5 col-sm-offset-3">
  <h2>All <%= @category.display_name %>s</h2>
</div>
<div class="col-sm-1">
  <%= link_to "Add New #{ @category.display_name }", "#{ @medium.url_base }/new", title: "Add a new #{ @category.display_name }!", class: "btn btn-default" %>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <table class="table table-hover">
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
    <% @media.each do |record| %>
      <tr>
        <td><%= record.upvotes || 0 %></td>
        <td><%= link_to "#{ record.title }", "#{ record.url_base }" %></td>
        <td><%= link_to "Upvote", "#{ record.url }/upvote", method: :patch, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="col-sm-2">
</div>
