<table>
  <tr>
    <th>Ranking</th>
    <th>Name</th>
    <th>Upvote</th>
  </tr>
  <% @all_records.each do |record| %>
    <% id = record.id %>
    <tr>
      <td><%= record.upvotes || 0 %></td>
      <td><%= link_to "#{ record.title }", "/#{ @category }/#{ id }" %></td>
      <td><%= link_to "Upvote", "/#{ @category }/#{ id }/upvote", method: :patch %></td>
    </tr>
  <% end %>
</table>

<%= link_to "View All Media", "/", title: "Media Ranker: Ranking the Best of Everything" %>
<%= link_to "Add a #{ @singular_category }", "/#{ @category }/new", title: "Add a new #{ @singular_category }!" %>
