<ol class="breadcrumb">
  <%= render partial: "all_media", locals: { active: true } %>
</ol>

<% @media.each do |group| %>
  <div class="col-sm-4">
    <section class="category">
      <% category = group.first.category %>
      <h1>Top <%= plural_display_name(category) %></h1>
      <% group.each do |item| %>
        <h4>
          <%= link_to item.title, medium_path(item) %>
          <small>Ranking: <%= item.upvotes %></small>
        </h4>
      <% end %>
      <%= link_to "View More #{ plural_display_name(category) }", category_path(category) %>
    </section>
  </div>
<% end %>
