<h1>
  <%= @current_record.title %>
  <small><%= @current_record.created %> by: <%= @current_record.creator %></small>
</h1>
<h4>Upvotes: <%= @current_record.upvotes %></h4>
<p><%= @current_record.description %></p>
<%= link_to "Upvote", "#{ @current_record.id }/upvote", method: :patch, class: "blockify" %>
<%= link_to "Edit #{ @current_record.title }", "#{ @current_record.id }/edit" %>
<%= link_to "Delete", "#{ @current_record.id }", method: :delete, data: { confirm: "Are you sure you want to delete this record? This is permanent."} %>
<%= link_to "View All #{ @current_record.category + "s" }", "/#{ @current_record.plural_category }" %>
<%= link_to "View All Media", "/" %>
