<%= link_to "Home", root_path, method: :get, class: "btn btn-default btn_gray" %>
<%= link_to "View all #{@media.format.pluralize}", pick_index_path(@media), method: :get, class: "btn btn-default btn_gray" %>
<h1><%= @media.name%></h1>
<p>Description: <%= @media.description %></p>
<p><%= creator %>: <%= @media.creator %></p>
<p>Votes: <%= @media.votes %></p>
<%= link_to "Delete #{@media.name}", pick_path(@media), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{@media.name}?"} %>
<%= link_to "Edit", pick_edit_path(@media), method: :get, class: "btn btn-default btn_blue" %>
<%= link_to "Upvote", pick_upvote_path(@media), method: :patch, class: "btn btn-default btn_green" %>

