<!DOCTYPE html>
<html>
<head>
  <title>Game Guru</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'application',  'http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Press+Start+2P|Gentium+Book+Basic %>

  <%= yield :style_sheet %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="container">
  <header>
    <h1 class= "banner"><%= image_tag("guru.png", class: "logo") %><%= link_to "Game Guru", "/"%> <small>Game rankings by and for the community</small></h1>
  </header>

<%= yield %>

  <footer>
    <p class="muted">by Brenna Leker © <%= Time.now.year %></p>
  </footer>
</body>
</html>
