<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker: Ranking the Best of Everything (js/master)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <img src="..." alt="logo placeholder" title="broken image being used as logo placeholder" height="40" width="100" />
    <%= link_to "Media Ranker", "/", title: "Media Ranker: Ranking the Best of Everything" %>
    Ranking the Best of Everything
  </header>

  <main>
    <%= yield %>
  </main>
</body>
</html>
