<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="page-header">
          <header>
            <h1><%= link_to "Media Ranker", root_path %><small> Ranking the Best of Everything</small>
            </h1>
          </header>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
