<!DOCTYPE html>
<html>
<head>
  <title>Game Guru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "Game Guru", "/"%></h1> <h3>Game rankings by and for the community</h3>

  </header>

<%= yield %>
</body>
  <footer>
    <p><%= link_to "Game Guru", "/"%></p>
    <p>by Brenna Leker © <%= Time.now.year %></p>
  </footer>
</html>
