<!DOCTYPE html>
<html>
<head>
  <title>C3ProjectsMediaranker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
        <%= image_tag("owl.jpg") %>
        <h1>
          <%= link_to "Media Ranker", "/" %>
          <small> Ranking the Best of Everything </small>
        </h1>
    </div>

<%= yield %>

  </div>
</body>
</html>
