<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
   <h1>
    <%= image_tag ("owl") %>
    <%= link_to "Media Ranker", root_path %>
    <h3>Ranking the Best of Everything</h3>
   </h1>
  </header>

<%= yield %>

</body>
</html>
